:root {
    /* Colors */
    --primary-color: #FF8243;
    --primary-contrast-color: white;
    --secondary-color: #003366;
    --secondary-contrast-white: white;

    /* Fonts */
    --xsite-font-family: Calibri , sans-serif;
    --xsite-font-size: 20px;

    /* Links */
    --active-menu-item-color: var(--primary-color);
    --link-color: var(--secondary-color);
    --active-link-color: var(--primary-color);
    --visited-link-color: var(--secondary-color);
}
