.main-menu ul {
    padding: 0;
}

.main-menu > ul > li {
    display: inline-block;
}

.main-menu > ul li a.active {
    color: var(--active-menu-item-color);

}

 .item-in-nav  {
    border: 1px solid var(--link-color);
    height: 30px;
    padding: 2px 10px 2px 10px;
    margin-left: 5px;
    border-radius: 7px;
    background-color: #F4F4F4;
    font-size: 20px;
    cursor: pointer;

}
